* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#skills,
#resume {
  width: 80%;
  margin: 0 auto;
  height: fit-content;
  padding-top: 3vh;
}



#feedback_wrapper {
  width: 80%;
  margin: 10vh auto 0;
  height: 90vh;
  position: relative;
}

#feedback_wrapper > div {
  position: absolute;
  top: 5%;
  left: 30%;
  width: 40%;
}

@media screen and (max-width: 768px) {
  #skills,
  #resume {
    width: 90%;
    margin: 7vh auto;
    height: fit-content;
    padding-top: 3vh;
  }

  #feedback_wrapper {
    margin: 0 auto;
  }

  #feedback_wrapper > div {
    position: absolute;
    top: 5%;
    left: 10%;
    width: 80%;
  }
}


@media screen and (min-width: 769px) and (max-width: 1024px) {
  #skills,
  #resume {
    width: 90%;
    margin: 7vh auto;
    height: fit-content;
    padding-top: 3vh;
  }

  #feedback_wrapper {
    margin: 0 auto;
  }

  #feedback_wrapper > div {
    position: absolute;
    top: 5%;
    left: 10%;
    width: 80%;
  }
}