/* --------------- navbar --------------- */

.logo {
  height: 6em;
  padding: 0.3vh 0.8vw;
  will-change: filter;
  background-color: red;
  transition: filter 300ms;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-right: 0.5vw;
}

#navbar_wrapper {
  border-bottom: 1px solid red;
}

#navbar {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  margin: 0 auto;
  padding: 2vh 1vw;
}

#navbar .logo_box {
  grid-area: logo;
}

#navbar div {
  display: flex;
  column-gap: 4vw;
  align-self: center;
  grid-area: navbar;
}



.theme {
  background-color: rgb(214, 16, 16);
  color: white;
  padding: 1vh 1.5vw;
  border-radius: 5px;
  border: none;
  grid-area: theme;
}



/* --------------- media queries for navbar ------------- */

@media screen and (max-width: 430px) {
  #navbar {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "logo theme"
      "navbar navbar";
  }

  #navbar div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1vh;
    column-gap: 1vw;
    margin-top: 2vh;
  }

  .theme {
    margin-right: 0.5vw;
  }
}

@media screen and (min-width: 431px) and (max-width: 768px) {
  #navbar {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "logo theme"
      "navbar navbar";
  }

  #navbar div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1vh;
    column-gap: 5vw;
    width: 95%;
    margin: 2vh auto 0;
  }
  .theme {
    margin-right: 2vw;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  #navbar {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "logo theme"
      "navbar navbar";
  }

  #navbar div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 1vh;
    column-gap: 1vw;
    width: 95%;
    margin: 2vh auto 0;
  }

  .theme {
    margin-right: 2vw;
  }
}

/* --------------- main --------------- */

#main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "home_intro home_img";
}

.home_intro_wrapper {
  position: relative;
  margin-top: 5vh;
  grid-area: home_intro;
}

#main .home_intro_wrapper .heading {
  font-size: 0.8rem;
}

#main .home_intro_wrapper .intro {
  font-size: 3.5rem;
}

#main .home_intro_wrapper .bio {
  font-size: 1.5rem;
  color: rgb(145, 128, 128);
  font-size: 1.5rem;
}

.main_img_wrapper {
  grid-area: home_img;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#profile_img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

#profile_img {
  height: 50%;
  width: 50%;
}

/* --------------- media queries for main ------------- */

@media screen and (max-width: 430px) {
  #main {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "home_img"
      "home_intro";
    width: 100%;
  }

  .home_intro_wrapper {
    margin-top: 0;
  }

  #profile_img {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }

  #profile_img {
    height: 75%;
    width: 75%;
  }

  .home_intro_wrapper {
    margin-top: -10vh;
  }
  
}

@media screen and (min-width: 431px) and (max-width: 768px) {
  #main {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "home_img"
      "home_intro";
    width: 100%;
  }

  .home_intro_wrapper {
    margin-top: 5;
  }

  #profile_img {
    height: 65%;
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .home_intro_wrapper {
    margin-top: -10vh;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  #main {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "home_img"
      "home_intro";
    width: 100%;
  }

  .home_intro_wrapper {
    margin-top: 5;
  }

  #profile_img {
    height: 65%;
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .home_intro_wrapper {
    margin-top: -10vh;
  }

  .home_bio {
    top: 20vh;
  }
}

@media screen and (min-width: 1025px) {
  #main {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "home_intro home_img";
    width: 100%;
  }

  .home_intro_wrapper {
    margin-top: 5;
  }

  #profile_img {
    height: 65%;
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .home_intro_wrapper {
    margin-top: 5vh;
  }


}
